<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Create posts</title>
</head>
<body>
<h1>Create posts</h1>
<p>
    <a href="/blogs">posts list</a>
</p>
<!--/*@thymesVar id="message" type=""*/-->
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-blog}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}"/></td>
        </tr>
        <tr>
            <td>Image:</td>
            <td><input type="text" th:field="*{image}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><textarea th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create posts"></td>
        </tr>
    </table>
</form>
</body>
</html>